# Environments
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Flutter/Dart (Tambahan umum jika root repo)
.dart_tool/
build/
.pub-cache/
.packages
.flutter-plugins
.flutter-plugins-dependencies
