# Database
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/svara_db

# JWT Configuration
JWT_SECRET_KEY=OFSy_SidNYAnXAhmHuNB289sMUjKcyJlWsG5zDPNO7EdegqRyfXPrRvgrYMXDVlib1c0Dwo_SwB4SP09E-kcgg
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Machine Learning API
ML_API_URL=http://127.0.0.1:5000/predict
ML_API_TIMEOUT_SECONDS=45
